<%- include("partials/header.ejs") %>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <h1>Create<br>a <span class="unique">unique</span> and beautiful blog</h1>
            <p>At FreshWrite, we believe that every session is a new opportunity to create something remarkable. Join us in this dynamic space where creativity knows no bounds, and let your ideas take flight.</p>
            <button class="btn">Get Started</button>
        </div>
        <div class="col-lg-6">
            <img src="images/girl-with-laptop.gif" alt="girl-with-laptop">
        </div>
    </div>
</div>

    
    

<%- include("partials/footer.ejs") %>